.h2 {
  font-size: 1.25rem;
  line-height: 1.2;
  transition: 0.05s color ease-out;
}

.h2active {
  position: relative;
}

.button {
  display: block;
  width: 100%;
  padding: 0.35em 0.5em;
  margin: 0 -0.5em;
  outline: 2px dotted transparent;
  outline-offset: 2px 4px;
  transition: 0.3s;
  border-radius: 10px;
  margin-bottom: 2px;
}
.button:focus {
  outline: 2px dotted black;
}
