.description code {
  background: rgba(255, 255, 255, 0.3);
  font-size: 0.75em;
  padding: 0.1em 0.4em;
  border-radius: 0.4em;
}

.stats {
  font-size: 50px;
  line-height: 1.1;
}
.stats > div {
  margin: 0px 0 20px;
  display: flex;
  gap: 20px;
}
.stats h3 {
  text-align: right;
  padding-top: 7.5px;
  width: 100px;
  flex-shrink: 0;
  opacity: 0.5;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 8px;
  /* text-transform: uppercase; */
}
.stats p {
  font-size: 34px;
  font-weight: 600;
}
