@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100..900&display=swap');

/* TODO: remove unused */
@font-face {
  font-family: 'aileron';
  src: url('/fonts/aileron-regular.woff2') format('woff2'),
    url('/fonts/aileron-regular.woff') format('woff');
  font-weight: 400;
  font-style: 400;
}
@font-face {
  font-family: 'aileron';
  src: url('/fonts/aileron-light.woff2') format('woff2'),
    url('/fonts/aileron-light.woff') format('woff');
  font-weight: 200;
  font-style: 200;
}
@font-face {
  font-family: 'aileron';
  src: url('/fonts/aileron-ultralight.woff2') format('woff2'),
    url('/fonts/aileron-ultralight.woff') format('woff');
  font-weight: 100;
  font-style: 100;
}
@font-face {
  font-family: 'aileron';
  src: url('/fonts/aileron-bold.woff2') format('woff2'),
    url('/fonts/aileron-bold.woff') format('woff');
  font-weight: 500;
  font-style: 500;
}
@font-face {
  font-family: 'aileron';
  src: url('/fonts/aileron-black.woff2') format('woff2'),
    url('/fonts/aileron-black.woff') format('woff');
  font-weight: 600;
  font-style: 600;
}

:root {
  --color: #000;
  --bg: #bad1df;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color: #d8d8d8;
    --bg: #000;
  }
}
.light {
  --color: #000;
  --bg: #bad1df;
}
.dark {
  --color: #d8d8d8;
  --bg: #000;
}

a,
button {
  all: unset;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  color: var(--color);
  text-align: center;
  /* font-family: 'aileron', sans-serif; */
  font-family: 'Inter Tight', sans-serif;
  line-height: 1.4;
  font-weight: normal;
  width: 100%;
  height: 100%;
  height: 100dvh;
  overflow: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
  /* background: linear-gradient(red, green); */
}

h1,
h2,
h3,
h4,
h5,
h6,
.header {
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}
a,
button {
  cursor: pointer !important;
}

ul {
  list-style: none;
}

.pos-full-win {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  height: 100dvh;
}
.pos-top-left {
  position: absolute;
  left: 0;
  top: 0;
}
